@import url("https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css");
@import url("https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css");
@import url('../src/css/styles.css');
@import url('../src/css/app.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

